libgit2
libgit2-*
wasm-git-*.tgz
lg2.js
lg2.wasm
lg2_async.js
lg2_async.wasm
lg2_opfs.js
lg2_opfs.wasm
lg2_opfs_async.js
lg2_opfs_async.wasm
lg2_opfs_jspi.js
lg2_opfs_jspi.wasm
lg2_workerfs.js
lg2_workerfs.wasm
test-browser-workerfs/lg2_workerfs.js
test-browser-workerfs/lg2_workerfs.wasm
test-browser-opfs-noniso/lg2_opfs_auto.js
test-browser-opfs-noniso/lg2_opfs.js
test-browser-opfs-noniso/lg2_opfs.wasm
test-browser-opfs-noniso/lg2_opfs_async.js
test-browser-opfs-noniso/lg2_opfs_async.wasm
test-browser-opfs-noniso/lg2_opfs_jspi.js
test-browser-opfs-noniso/lg2_opfs_jspi.wasm
.DS_Store
.vscode
node_modules
package
.idea
emsdk
nodefsclonetest
google-chrome-stable_current_amd64.deb
test-results
.env
